div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
}

div.card > img {
  image-rendering: pixelated;
  height: 200px;
}
